$jasno-niebieski: #0ed8d6;
$bialy: #fff;
$szary: #777;
$jakis-taki-czarny: #333;
$jeszcze-inny-czarnawy: #222;
$monster-font: 'Montserrat';
$droid-font: "DroidSerif";
$sans-font: sans-serif;
$roboto-font: "RobotoSlab";