@import 'zmienne';
@import 'mixin';


#main-header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header/pictures_on_the_wall.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: $bialy;
    text-align: center;

    .header-caption {
        h1 {
            font-size: 4em;
            margin: 30px 0;
            text-transform: uppercase;
        }

        h2 {
            font-size: 3em;
            font-style: italic;
            font-family: $droid-font, $sans-font;
        }

        a.read-more {
            background-color: $jasno-niebieski;
            color: $bialy;
            padding: 15px 20px;
            font-family: $monster-font, $sans-font;
            border: 1px solid $jasno-niebieski;
            @include przejscie;
        }

        a.read-more:hover {
            background-color: $bialy;
            color: $jasno-niebieski;
        }
    }
}